* {
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
    margin: 0 auto;
}

/***************************************************
    Header CSS
****************************************************/

.container {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

img {
    width: 70px;
    height: 70px;
}

.wrapper {
    display: flex;
    margin: 10px;
    align-items: center;
}

.title {
    font-weight: bold;
}

/***************************************************
    Main CSS
****************************************************/

.container.wrapper.main {
    background-color: aquamarine;
    width: 100vw;
    margin: 0;
    justify-content: center;
    height: 600px;
}

#grid {
    display: flex;
    margin: 0;
    width: 400px;
    flex-direction: row;
    flex-wrap: wrap;
}

/***************************************************
    Footer CSS
****************************************************/
.container.footer {
    margin: 0;
}

.footer_text {
    margin: 10px;
}

/***************************************************
    JS CSS
****************************************************/

.square {
    text-align: center;
    color: black;
    padding: 5px 0;
    height: 40px;
    width: 40px;
    background-color: blue;
    border: solid 1px;
    margin: 0;
}